h1.intro= title
ul.communitybuttons
  each button in buttons
    - var className= 'logo_' + button.name.replace(/\W/, '')
    li
      a(href="#{button.link}")
        span(class="communityicon #{className}")
        #{button.name}
