body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #a1a8a1;
}

a {
  color: #00B7FF;
}

.intro {
  font-size: 7em;
  width: 95%;
  margin: auto auto 30px auto;
  text-align: center;
  z-index: -10;
  text-shadow: 2px 2px 0 #aaccaa;
  letter-spacing: 0.2em;
}
span.communityicon {
  background-image: url('/images/buttons.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  float: left;
  height: 64px;
  margin-left: -4px;
  position: relative;
  top: 8px;
  width: 64px;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
}
span.logo_facebook { background-position: 0  -64px; }
span.logo_github   { background-position: 0 -128px; }
span.logo_google   { background-position: 0 -192px; }
span.logo_nkpl     { background-position: 0 -256px; }
span.logo_skype    { background-position: 0 -320px; }
span.logo_twitter  { background-position: 0 -384px; }
span.logo_vimrc    { background-position: 0 -448px; }

li:hover span.logo_blog     { background-position: -64px      0; }
li:hover span.logo_facebook { background-position: -64px  -64px; }
li:hover span.logo_github   { background-position: -64px -128px; }
li:hover span.logo_google   { background-position: -64px -192px; }
li:hover span.logo_nkpl     { background-position: -64px -256px; }
li:hover span.logo_skype    { background-position: -64px -320px; }
li:hover span.logo_twitter  { background-position: -64px -384px; }
li:hover span.logo_vimrc    { background-position: -64px -448px; }

ul.communitybuttons {
  text-align: center;
}

ul.communitybuttons a {
  text-align: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul.communitybuttons li {
  font: 21px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #333333;
  background: #d1d1d1; /* for non-css3 browsers */
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #ebebeb,  #a1a1a1); /* for firefox 3.6+ */
  border-width: 1px;
  border-style: solid;
  border-color: #CCCCCC #EEEEEE #EEEEEE #CCCCCC;
  border-radius: 10px 10px 10px 10px;
  display: inline-block;
  padding: 0px 25px;
  line-height: 80px;
  width: 200px;
  margin: 5px;
  list-style-type: none;
  text-shadow: 1px 1px 0 #FFFFFF;
}

@-moz-keyframes mx_rotate {
  0% {
    -moz-transform: rotate(5deg);
  }
  100% {
    -moz-transform: rotate(365deg);
  }
}

@-webkit-keyframes mx_rotate {
  0% {
    -webkit-transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(365deg);
  }
}

li:hover span {
-moz-animation: mx_rotate 0.4s linear infinite;
-webkit-animation: mx_rotate 0.4s linear infinite;
}

